<header class="sticky top-0 z-50 bg-[#FF237B] shadow-lg">
  <nav class="flex justify-center items-center h-16 space-x-8">
    <a
      class="text-white text-lg hover:text-[#FF237B] hover:bg-white rounded-lg p-2"
      href="#about"
      >About Me</a
    >
    <a
      class="text-white text-lg hover:text-[#FF237B] hover:bg-white rounded-lg p-2"
      href="#skills&tools"
      >Skill & Tools</a
    >
    <a
      class="text-white text-lg hover:text-[#FF237B] hover:bg-white rounded-lg p-2"
      href="#Certificate"
      >Certificate</a
    >
    <a
      class="text-white text-lg hover:text-[#FF237B] hover:bg-white rounded-lg p-2"
      href="#project"
      >Project</a
    >
    <a
      class="text-white text-lg hover:text-[#FF237B] hover:bg-white rounded-lg p-2"
      href="#contact"
      >Contact</a
    >
  </nav>
</header>
